.app {
    max-width: 760px;
    margin: clamp(1.25rem, -3.6201rem + 20.7792vw, 6.25rem) auto 0 auto;
    min-height: calc(90vh);
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    margin: 0 1.25rem 6.25rem 1.25rem;

    & img:last-of-type {
        display: none;
    }

    @media (max-width: 450px) {
        & img:first-of-type {
            display: none;
        }

        & img:last-of-type {
            display: block;
            width: 2.5rem;
        }
    }
}
.nav-links {
    display: flex;
    gap: 1.25rem;
    margin: 0 0 0 auto;
    text-underline-offset: 0.2em;

    & button {
        background-color: unset;
        border: unset;
        font-family: var(--primary-font);
        font-size: 1rem;
        color: var(--text-colour);
        cursor: pointer;
        text-decoration: underline;
        padding: 0;

        &:hover, &:focus {
            color: var(--main-accent-colour);
            text-decoration: none;
        }
    }
}

main {
    flex-grow: 1;
    margin: 0 1.25rem;
}

footer {
    margin: 6.25rem 1.25rem 0 1.25rem;
    display: flex;
    border-top: 1px solid var(--border-colour);
    padding: 1.25rem 0;

    & div {
        display: flex;
        gap: 0.5rem;
    }

    & a {
        text-decoration: none;
    }
}
.made-by-link {
    margin: 0 0 0 auto;
}
