@font-face {
    font-family: "Inter";
    src: local(Inter) url("/fonts/Inter.ttf") format("truetype");
}

:root {
    --primary-font: "Inter", "Segoe UI", -apple-system, BlinkMacSystemFont, "Fira Sans",
    "Helvetica Neue", sans-serif;

    --colour-white: hsla(0, 0%, 100%, 100%);
    --colour-off-white: hsla(60, 56%, 96%, 100%);
    --colour-black: hsla(0, 0%, 15%, 100%);
    --colour-grey: hsla(0, 0%, 43%, 100%);
    --colour-light-grey: hsla(0, 0%, 0%, 15%);
    --colour-orange: hsla(6, 95%, 59%, 100%);
    --colour-light-orange: hsla(6, 95%, 59%, 90%);
    --colour-blue: hsla(228, 52%, 54%, 100%);

    --background-colour: var(--colour-off-white);
    --text-colour: var(--colour-grey);
    --text-colour-dark: var(--colour-black);
    --text-colour-light: var(--colour-white);
    --border-colour: var(--colour-light-grey);
    --main-accent-colour: var(--colour-orange);
    --main-accent-colour-light: var(--colour-light-orange);
    --secondary-accent-colour: var(--colour-blue);
}

::selection {
    background-color: var(--main-accent-colour);
    color: var(--background-colour);
}

html {
    font-family: var(--primary-font);
    background-color: var(--background-colour);
    color: var(--text-colour);
}

body {
    margin: 0;
}

a {
    color: var(--text-colour);

    &:hover, &:focus {
        color: var(--main-accent-colour);
        text-decoration: unset;
    }
}
